@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --font: 'Itim', cursive;

}

body {
  color: #222222;
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
